<!DOCTYPE html>
<html lang="en" ng-app="adminApp" ng-controller="eventCtrl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Watcher</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link href="css/js.css" rel="stylesheet">

  </head>
  <body>

      <div class="container-fluid fullScreenHeight zeroRef" >
        <div class="row container-fluid fullScreenHeight ">

<!-- *************   LEFT PANEL  *************-->
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 zeroRef fullScreenHeight divOverflow"  >
                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div> pres title </div>
                </div>
                <div ng-repeat="slid in currentPresentation.slidArray" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-click="selectCurrentSlid(slid)">
                    <h3>{{slid.title}}</h3>
                   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slidZoneEmpty"  ng-class="{'slidZoneSelectedEmpty': slid.id == currentSlide.id, 'hide':slid.contentMap[1]!=undefined}">
                       Slid Zone
                   </div>
                   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slidZone"  ng-class="{'slidZoneSelected': slid.id == currentSlide.id, 'hide':slid.contentMap[1]==undefined}">
                       <img src="{{contentMap.payload[slid.contentMap[1]].src}}" alt="{{contentMap.payload[slid.contentMap[1]].title}}" class="img-responsive">
                   </div>
               </div>
            </div>
<!-- *************   CENTER PANEL  *************-->
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 zeroRef fullScreenHeight">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fullScreenHeight">

                        <div>slide Title</div>
                        <div>slide description</div>

                    <div style="min-height: 100px;min-width: 100px;">
                        <img src="{{contentMap.payload[currentSlide.contentMap[1]].src}}" alt="{{contentMap.payload[currentSlide.contentMap[1]].title}}" class="img-responsive">
                        <div ng-show="!contentMap.payload[currentSlide.contentMap[1]].src && currentSlide"> NO IMAGE </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- bower_components -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-socket-io/socket.js"></script>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <!-- Our javascript -->
    <script src="js/applications/AdminApp.js"></script>
    <script src="js/controllers/EventController.js"></script>
    <script src="js/services/CommService.js"></script>
    <script src="js/services/FactoryService.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <!--<script src="../../node_modules/socket.io/lib/client.js"></script>-->


<!--  <script type="text/javascript" src="/socket.io/socket.io.js"></script>-->
  </body>
</html>
